html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Comomm {filter: drop-shadown(8px 8px 10px rgb(215, 215, 215))}
.Rare {filter: drop-shadown(8px 8px 10px rgb(7, 255, 36))}
.Super Rare {filter: drop-shadown(8px 8px 10px rgb(167, 7, 255))}
.Epic {filter: drop-shadown(8px 8px 10px rgb(255, 18, 241))}
.Legendary {filter: drop-shadown(8px 8px 10px rgb(255, 194, 7))}
.Super.Legendary {filter: drop-shadown(8px 8px 10px rgb(255, 0, 84))}